.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.firstFont {
  font-family: "Agabil";
  color: #1e4497;
  font-size: 20pt;
}

.secondFont {
  font-family: "Fifth-Grader";
  color: #ec1e27;
  font-size: 24pt;
}

.sixthFont {
  font-family: "Fifth-Grader";
  color: #ec1e27;
  font-size: 36pt;
  text-decoration-line: underline;
  text-decoration-color: #efe81a;
  text-decoration-thickness: 5pt;
}

.thirdFont {
  font-family: "Agabil";
  color: #ec1e27;
  font-size: 20pt;
}

.fourthFont {
  font-family: "Fifth-Grader";
  color: #1e4497;
  font-size: 24pt;
}

.fifthFont {
  font-family: "Fifth-Grader";
  color: #1e4497;
  font-size: 30pt;
  justify-content: center;
  align-items: center;
  display: flex;
  /* text-shadow: .5px .5px .5px #7f7c11; */
  text-decoration: underline;
  text-decoration-color: #efe81a;
  text-decoration-thickness: 5pt;
}

.containerTest {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagetest {
  flex-basis: 40%;
}

.imagetest img {
  max-width: 100;
}

.imagetest2 {
  flex-basis: 40%;
}

.containerTest2 {
  display: flex;
  align-items: center;
  justify-content: right;
}

.text {
  font-size: 20px;
  padding-left: 20px;
}

.left {
  display: flex;
  justify-content: left;
  align-items: left;
  position: relative;
  padding: 4rem 0;
}

.right {
  display: flex;
  justify-content: right;
  align-items: right;
  position: relative;
  padding: 4rem 0;
  float: right;
}

.parent {
  position: absolute;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.cover {
  display: block;
  /* width: 100vw;
  height: 50vh; */
  width: 100vw;
  height: auto;
  object-fit: cover;
  margin: 0;
  background-size: cover;
  object-position: center;
  /* padding-top: 13px; */
}

.nav {
  display: flex;
  align-items: flex-end;
  justify-content: right;
  flex-direction: row;
  background-position: center;
  background-size: cover;
}

header.navleft {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  flex-direction: row;
  background-position: center;
  background-size: cover;
}

.navleft {
  color: blue;
  background-color: red;
  display: flex;
  align-items: flex-start;
  justify-content: left;
}

.logo-right-align {
  display: flex;
  margin-right: auto;
}

header.navleft img {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  flex-direction: row;
  background-position: center;
  background-size: cover;
}

header.navleft a {
  display: flex;
  align-items: flex-end;
  justify-content: left;
  flex-direction: row;
  background-position: center;
  background-size: cover;
}

header.navHeader {
  position: sticky;
  z-index: 30;
  top: 0;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  border-color: #efe81a;
  border-bottom-style: solid;
  border-bottom-width: 3pt;
  background-image: inherit;
  margin-top: 20px;
  /* margin-bottom: 20px; */
  padding-bottom: 20px;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 10px;
  flex-wrap: wrap;
  /* height: 188px; */
}

header.navHeader img {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

/* .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
    background-color: white;
} */

.navMenuBar {
  display: flex;
  flex-direction: row;
  justify-content: right;
  row-gap: 6px;
  cursor: pointer;
}
.navMenuBar div {
  width: 40px;
  height: 4px;
  /* background-color: black; */
  border-radius: 2px;
}
.nav__link img {
  scale: 1.1;
  transition: 1s ease;
  margin-left: 20px;
}

.news-hover img:hover {
  content: url(../public/newshover.png);
  animation: vibrate 0.5s;
  animation-iteration-count: 4s;
  cursor: pointer;
}

.community-hover img:hover {
  content: url(../public/communityog.png);
  animation: vibrate 0.5s;
  animation-iteration-count: 4s;
}

.events-hover img:hover {
  content: url(../public/eventshover.png);
  animation: vibrate 0.5s;
  animation-iteration-count: 4s;
}

.logo-right-align img:hover {
  content: url(../public/dbldigitshover.png);
  animation: stretch 2s ease 0s 1 normal forwards;
}

@keyframes vibrate {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-3deg);
  }
  20% {
    transform: rotate(3deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  60% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(-3deg);
  }
  80% {
    transform: rotate(3deg);
  }
  90% {
    transform: rotate(0deg);
  }
  200% {
    transform: rotate(-3deg);
  }
}

@keyframes stretch {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

.navleft img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
}


.row {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: right;
  padding: 20px;
}
.column {
  width: 50%;
  /* height: 600px; */
  float: left;
  font-size: 22px;
  align-items: center;
  margin: 10px;
}
.column img {
  width: 100%;
  height: 100%;
}

.row div {
  align-items: center;
}

.rowRight {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: left;
  flex-direction: row-reverse;
  padding: 20px;
}
.columnRight {
  width: 50%;
  /* height: 600px; */
  float: right;
  font-size: 22px;
  align-items: center;
  display: flex;
  margin: 10px;
}
.columnRight img {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  float: right;
}

.columnRightText {
  width: 50%;
  /* height: 600px; */
  float: left;
  font-size: 22px;
  align-items: center;
  justify-content: right;
}
.rowRight div {
  align-items: center;
}

.latest {
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 20px;
  scale: .8;
}

.centered {
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 36pt;
  padding: 25px;
}

.center {
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 36pt;
  padding: 20px;
  text-align: center;
}

/* Chat containers */
.containers {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

/* Darker chat container */
.containerDarker {
  border-color: #ccc;
  background-color: #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

/* Clear floats */
.containers::after {
  content: "";
  clear: both;
  display: table;
}

.containerDarker::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.containers img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.containerDarker img {
  float: right;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.containerDarker p {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

.containerRight {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

/* Style time text */
.timeRight {
  float: right;
  color: #aaa;
}

/* .containerDarker.timeRight {
  float: right;
  color: #aaa;
} */

/* Style time text */
.timeLeft {
  float: left;
  color: #999;
}

.containerDarker.timeLeft {
  float: left;
  color: #999;
}

/* .hamburger {
  display: none;
} */

@media screen and (max-width: 640px) {
  /* .hamburger {
    display: flex;
  } */
header.navHeader {
  display: flex;
  flex-direction: column;
  border-color: #efe81a;
  border-bottom-style: solid;
  border-bottom-width: 3pt;
  background-image: inherit;
  flex-wrap: wrap;
  margin-top: 0px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 0px;
  flex-wrap: wrap;
  /* height: 188px; */
}
.nav__link img {
  scale: .8;
  transition: 1s ease;
  margin-left: 4px;
}
.nav__link{
    display: flex;
  align-items: flex-end;
  flex-direction: row;
  background-position: center;
  background-size: cover;
}
.latest {
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 10px;
  scale: .5;
}
.column {
  width: 50%;
  /* height: 600px; */
  float: left;
  font-size: 14px;
  align-items: center;
  margin: 0px;
  margin-left: 3px;
}

/* .column img {
  width: 180%;
  height: 100%;
padding-right: 60px;
  align-items: center;
  display: flex;
} */

.row {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: right;
  padding: 10px;
}

.row div {
  align-items: center;
}

.rowRight {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: left;
  flex-direction: row-reverse;
  padding: 10px;
}
.columnRight {
  width: 50%;
  /* height: 600px; */
  float: right;
  font-size: 22px;
  align-items: center;
  display: flex;
  margin: 10px;
}
.columnRight img {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  float: right;
}
.firstFont {
  font-family: "Agabil";
  color: #1e4497;
  font-size: 14pt;
}

.secondFont {
  font-family: "Fifth-Grader";
  color: #ec1e27;
  font-size: 16pt;
}

.sixthFont {
  font-family: "Fifth-Grader";
  color: #ec1e27;
  font-size: 22pt;
  text-decoration-line: underline;
  text-decoration-color: #efe81a;
  text-decoration-thickness: 5pt;
}

.thirdFont {
  font-family: "Agabil";
  color: #ec1e27;
  font-size: 14pt;
}

.fourthFont {
  font-family: "Fifth-Grader";
  color: #1e4497;
  font-size: 16pt;
}

/* Chat containers */
.containers {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

/* Darker chat container */
.containerDarker {
  border-color: #ccc;
  background-color: #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

/* Clear floats */
.containers::after {
  content: "";
  clear: both;
  display: table;
}

.containerDarker::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.containers img {
  float: left;
  max-width: 40px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.containerDarker img {
  float: right;
  max-width: 40px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.containerDarker p {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

.containerRight {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}
}